

nav {
  background-color: black;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:20px ;
}
.menu ul{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.menu ul a{
  display: flex;
  color: bisque;
  gap: 15px;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
